@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-3 mt-2">WikiTech</h1>
    <div class="w-50 m-auto">
        <h4 class="display-6 fs-4 mb-3">Bienvenido a la wiki tecnológica!</h4>
        <p>En WikiTech vas a poder crear tus propios artículos para compartir tus conocimientos con los demás colaboradores y usuarios</p>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4 mt-5">
    <a href="#" style="text-decoration:none; color: black">
        <div class="col">
            <div class=card h-100" style="max-width: 88%">
                <img src="https://www.jrebel.com/sites/default/files/image/2020-05/image-blog-revel-top-java-tools.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nuevo Framework para Java</h5>
                    <p class="card-text">La empresa MiTech logró implementar un nuevo freamework compatible con...</p>
                </div>
            </div>
        </div>
    </a>
    <a href="#" style="text-decoration:none; color: black">
    <div class="col">
        <div class="card h-100" style="max-width: 88%">
            <img src="https://www.solucionex.com/sites/default/files/categorias_post/git.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Aprender Git en simples pasos</h5>
                <p class="card-text">Git es una herramienta de versionado que nos permite...</p>
            </div>
        </div>
    </div>
    </a>
    <a href="#" style="text-decoration:none; color: black">
        <div class="col">
            <div class="card h-100" style="max-width: 88%">
                <img src="https://kinsta.com/es/wp-content/uploads/sites/8/2021/05/que-es-node-js.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NodeJS: ideas de proyectos</h5>
                    <p class="card-text">En este artículo vas a conocer diferentes ideas de proyectos para aplicar las bases del lenguaje.</p>
                </div>
            </div>
        </div>
    </a>
    <a href="#" style="text-decoration:none; color: black">
        <div class="col">
            <div class="card h-100" style="max-width: 88%">
                <img src="https://www.solucionex.com/sites/default/files/categorias_post/git.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Aprender Git en simples pasos</h5>
                    <p class="card-text">Git es una herramienta de versionado que nos permite...</p>
                </div>
            </div>
        </div>
    </a>
    <a href="#" style="text-decoration:none; color: black">
        <div class="col">
            <div class="card h-100" style="max-width: 88%">
                <img src="https://www.jrebel.com/sites/default/files/image/2020-05/image-blog-revel-top-java-tools.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nuevo Framework para Java</h5>
                    <p class="card-text">La empresa MiTech logró implementar un nuevo freamework compatible con...</p>
                </div>
            </div>
        </div>
    </a>
    <a href="#" style="text-decoration:none; color: black">
        <div class="col">
            <div class="card h-100" style="max-width: 88%">
                <img src="https://kinsta.com/es/wp-content/uploads/sites/8/2021/05/que-es-node-js.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NodeJS: ideas de proyectos</h5>
                    <p class="card-text">En este artículo vas a conocer diferentes ideas de proyectos para aplicar las bases del lenguaje.</p>
                </div>
            </div>
        </div>
    </a>
</div>
