@model WikiTech.Entidades.Usuario

@{
}
<div class="w-75 m-auto mt-5">
    <div class="card text-center w-50 m-auto">
        <div class="card-header">
            <h1 class="display-6">Ingresá a WikiTech</h1>
        </div>
        <div class="card-body mb-4 mt-4">
            <form method="post" action="/Acceso/Registrar">
                <div class="mb-4">
                    Usuario
                    <input type="text" name="email" asp-for="email" />
                    <span asp-validation-for="email"></span>
                </div>
                <div class="mb-4">
                    Nombre
                    <input type="text" name="nombre" asp-for="nombre" />
                    <span asp-validation-for="nombre"></span>
                </div>
                <div class="mb-4">
                    Apellido
                    <input type="text" name="apellido" asp-for="apellido" />
                    <span asp-validation-for="apellido"></span>
                </div>
                <div class="mb-4 pb-3">
                    Contraseña
                    <input type="password" name="contrasenia" asp-for="contrasenia" />
                    <span asp-validation-for="contrasenia"></span>
                </div>
                <div>
                    <input type="submit" value="Registrar" class="btn btn-primary w-50" role="button" />
                </div>
            </form>

        </div>
        <div class="card-footer text-muted pb-3 pt-3">
            <a href="/Acceso/Registrar" style="text-decoration: none">Crear nueva cuenta</a>
        </div>
    </div>
</div>


